<div class="container-fluid">
	<div class="pending-homepage row">
	<h2>Pending Overtime Approvals</h2>
		<%= render partial: 'pending_approvals', locals: {pending_approvals: @pending_approvals} %>
	</div>
</div>

<div class="pending-homepage">
	
</div>