<% if admin_types.include?(current_user.try(:type)) %>
	<%= render 'admin' %>
<% else %>
	<%= render 'employee' %>
<% end %>


<div class="jumbotron">
	<h2>Hello World!</h2>
	<p></p>
	<p>
		<a href="" class="btn btn-primary btn-large">Learn More!</a>
	</p>
</div>